body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.rectangle {
  display: flex;
  border-radius: 8px;
  border: 1px solid #B24242;
  box-sizing: border-box;
  width: 180px;
  height: 56px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.plus, .minus, .count {
  Width: 60px;
  line-height: 56px;
  text-align: center;
  font-size: 21px;
  font-weight: 900;
  cursor: pointer;
}
.plus {
  background-color: #B24242;
  color: #FFFFFF;
  border-radius: 0 8px 8px 0;;
}

.minus {
  color: #B24242;
  border-radius: 8px 0 0 8px;
}

.count {
  border: none;
  border-left: 1px solid #B24242;
  border-right: 1px solid #B24242;
  color: #B24242;
  padding: 0;
  box-sizing: border-box;
}

.count:focus {
  outline: none;
}
